@use "./fonts";

/* Mobile ==========================================================================  */

.HouseConstructor {
  background: #ffffff;
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat";
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 5px;
}

.containerInner {
  display: flex;
  flex-flow: column;
  gap: 16px;
  align-items: center;
  padding: 10px 0 20px;
}

.btnOpenFormMobile,
.btnOpenFormMobileDisabled {
  margin: 20px 0;
  padding: 15px 20px;
  font-size: 20px;
  text-transform: uppercase;
  border: solid 2px #fe9c07;
  color: #fe9c07;
  font-weight: 600;
  background: transparent;
  border-radius: 8px;
  transition: linear 0.5s;
  letter-spacing: 1px;

  &:active {
    background: #fe9c07;
    color: #ffffff;
  }
}

.btnOpenFormMobileDisabled {
  border: solid 2px #c0c0c0;
  color: #c0c0c0;

  &:active {
    background: #c0c0c0;
    color: #c0c0c0;
    cursor: not-allowed;
  }
}

.btnOpenForm,
.btnOpenFormDisabled {
  display: none;
}

/* TABLET ==========================================================================  */

@media (min-width: 768px) {
  .btnOpenFormMobile {
    cursor: pointer;
    &:hover {
      background: #fe9c07;
      color: #ffffff;
    }
  }
}

/* TABLET HD ========================================================================== */

@media (min-width: 1024px) {
  .container {
    padding-bottom: 60px;
  }

  .containerInner {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }

  .btnOpenFormMobile,
  .btnOpenFormMobileDisabled {
    margin: 0;
    padding: 15px 20px;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* PC 1280+ ==================================================================== */

@media (min-width: 1280px) {
  .container {
    padding-bottom: 0;
  }

  .containerInner {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
  }

  .btnOpenFormMobile,
  .btnOpenFormMobileDisabled {
    display: none;
  }

  .subContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 16px;
    justify-content: space-between;
  }

  .btnOpenForm,
  .btnOpenFormDisabled {
    display: block;
    padding: 15px 0;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    border: solid 2px #fe9c07;
    color: #fe9c07;
    font-weight: 700;
    background: transparent;
    border-radius: 8px;
    transition: linear 0.5s;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100%;

    &:hover {
      background: #fe9c07;
      color: #ffffff;
    }

    &:active {
      background: #b36d05;
      color: #ffffff;
    }
  }

  .btnOpenFormDisabled {
    border: solid 2px #c0c0c0;
    color: #c0c0c0;

    &:hover {
      background: transparent;
      color: #c0c0c0;
      cursor: not-allowed;
    }

    &:active {
      background: transparent;
      color: #c0c0c0;
    }
  }
}

.hint,
.hintHide {
  padding: 15px 10px;
  background: #b61919;
  border-radius: 8px;
  letter-spacing: 1px;
  position: fixed;
  left: 50%;
  top: -10%;
  bottom: auto;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  transition:
    opacity 0.4s ease-in,
    top .8s ease-in-out,
    transform .8s ease-in-out;
  z-index: 500;
}

.hint {
  top: 0;
  opacity: 1;
}

.hintTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  text-wrap: wrap;
  display: block;
  text-transform: uppercase;
  padding-bottom: 5px;
}




@media (min-width: 1024px) {
  .hint,
  .hintHide {
    padding: 15px;
    background: #b61919;
    border-radius: 8px;
    letter-spacing: 1px;
    position: fixed;
    width: auto;
    left: 50%;
    top: auto;
    bottom: -10%;
    transform: translateX(-50%);
    opacity: 0;
    transition:
      opacity 0.4s ease-in,
      bottom 1s ease-in-out,
      transform 1s ease-in-out;
    z-index: 500;
  }

  .hint {
    bottom: 10%;
    opacity: 1;
    cursor: pointer;
  }

  .hintTitle {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
    text-wrap: nowrap;
    display: block;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
}
