@use "./fonts";

/* Mobile ==========================================================================  */

.HouseConstructor {
  background: #ffffff;
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat";
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 5px;
}

.containerInner {
  display: flex;
  flex-flow: column;
  gap: 16px;
  align-items: center;
  padding: 10px 0 20px;
}

.btnOpenFormMobile {
  margin: 20px 0;
  padding: 15px 20px;
  font-size: 20px;
  text-transform: uppercase;
  border: solid 2px #fe9c07;
  color: #fe9c07;
  font-weight: 600;
  background: transparent;
  border-radius: 8px;
  transition: linear 0.5s;
  letter-spacing: 1px;

  &:active {
    background: #fe9c07;
    color: white;
  }
}

.btnOpenForm {
  display: none;
}

/* TABLET ==========================================================================  */

@media (min-width: 768px) {
  .btnOpenFormMobile {
    cursor: pointer;
    &:hover {
      background: #fe9c07;
      color: white;
    }
  }
}

/* TABLET HD ========================================================================== */

@media (min-width: 1024px) {
  .container {
    padding-bottom: 60px;
  }

  .containerInner {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }

  .btnOpenFormMobile {
    margin: 0;
    padding: 15px 20px;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* PC 1280+ ==================================================================== */

@media (min-width: 1280px) {
  .container {
    padding-bottom: 0;
  }

  .containerInner {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
  }

  .btnOpenFormMobile {
    display: none;
  }

  .subContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 16px;
    justify-content: space-between;
  }

  .btnOpenForm {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    border: solid 2px #fe9c07;
    color: #fe9c07;
    font-weight: 700;
    background: transparent;
    border-radius: 8px;
    transition: linear 0.5s;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      background: #fe9c07;
      color: white;
    }

    &:active {
      background: #b36d05;
      color: white;
    }
  }
}
