/* Mobile =============================================================================== */

.controlPanel {
  display: flex;
  flex-flow: column;
  padding: 10px;
  max-width: 450px;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  overflow: hidden;
}

.colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px 0 0 0;
  gap: 10px;
  background: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.blockMaterial {
  line-height: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

.materialBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layerSelector {
  margin-bottom: 8px;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.selectLayer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: transparent;
  border-radius: 8px;
  border: none;
  color: #313131;
  font-weight: 600;
}

.activeLayer {
  color: #2bcc62;

  > .checkBox {
    border-color: #2bcc62;
  }
}

.checkBox {
  border: #888888 solid 2px;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  padding: 2px;
  transition: linear 0.3s;
}

.checkBoxChecked {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #2bcc62;
  display: block;
}

.iconWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(180%);
}

/* TABLET ========================================================================= */

@media (min-width: 768px) {
  .controlPanel {
    max-width: 768px;
  }

  .colors {
    grid-template-columns: repeat(6, 1fr);
  }

  .layerSelector {
    display: flex;
    flex-flow: row;
    gap: 8px;
  }

  .selectLayer {
    cursor: pointer;
    transition: linear 0.3s;
    &:hover {
      color: #2bcc62;

      > .checkBox {
        border-color: #2bcc62;
      }
    }
  }
}

/* TABLET HD ============================================================================= */

@media (min-width: 1024px) {
  .controlPanel {
    padding: 5px;
    max-width: 500px;
  }

  .colors {
    gap: 4px;
    grid-template-columns: repeat(5, 1fr);
  }

  .layerSelector {
    margin-bottom: 8px;
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  .selectLayer {
    padding: 0;
  }
}

/* PC 1280+ =============================================================================== */

@media (min-width: 1280px) {
  .controlPanel {
    padding: 10px;
  }

  .colors {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  .selectLayer {
    gap: 10px;
    padding: 10px;
  }

  .blockMaterial {
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px #000;
    }
  }
}
