/* ANTIQUE ===================================================== */
.antique1 {
  transition: all 0.8s;
  filter: hue-rotate(-60deg) brightness(110%) saturate(90%) contrast(100%) sepia(40%);
}

.antique2 {
  transition: all 0.8s;
  filter: hue-rotate(-70deg) brightness(70%) saturate(40%) contrast(110%) sepia(0%);
}

.antique3 {
  transition: all 0.8s;
  filter: hue-rotate(-66deg) brightness(110%) saturate(140%) contrast(100%) sepia(30%);
}

.antique4 {
  transition: all 0.8s;
  filter: hue-rotate(-40deg) brightness(100%) saturate(170%) contrast(110%) sepia(40%);
}

.antique5 {
  transition: all 0.8s;
  filter: hue-rotate(-210deg) brightness(140%) saturate(30%) contrast(80%) sepia(0%);
}

.antique6 {
  transition: all 0.8s;
  filter: hue-rotate(-240deg) brightness(70%) saturate(20%) contrast(100%) sepia(0%);
}

.antique7 {
  transition: all 0.8s;
  filter: hue-rotate(-90deg) brightness(80%) saturate(180%) contrast(130%) sepia(0%);
}

.antique8 {
  transition: all 0.8s;
  filter: hue-rotate(290deg) brightness(70%) saturate(130%) contrast(120%) sepia(0%);
}

.antique9 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(70%) saturate(100%) contrast(100%) sepia(0%);
}

.antique10 {
  transition: all 0.8s;
  filter: hue-rotate(-70deg) brightness(70%) saturate(150%) contrast(140%) sepia(0%);
}

.antique11 {
  transition: all 0.8s;
  filter: hue-rotate(-60deg) brightness(100%) saturate(50%) contrast(110%) sepia(0%);
}

.antique12 {
  transition: all 0.8s;
  filter: hue-rotate(-60deg) brightness(90%) saturate(100%) contrast(100%) sepia(0%);
}

.antique13 {
  transition: all 0.8s;
  filter: hue-rotate(-80deg) brightness(80%) saturate(110%) contrast(100%) sepia(0%);
}

.antique14 {
  transition: all 0.8s;
  filter: hue-rotate(-30deg) brightness(80%) saturate(50%) contrast(110%) sepia(10%);
}

.antique15 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(110%) saturate(90%) contrast(70%) sepia(0%);
}

.antique16 {
  transition: all 0.8s;
  filter: hue-rotate(-70deg) brightness(60%) saturate(20%) contrast(100%) sepia(0%);
}

.antique17 {
  transition: all 0.8s;
  filter: hue-rotate(-70deg) brightness(120%) saturate(0%) contrast(100%) sepia(0%);
}

.antique18 {
  transition: all 0.8s;
  filter: hue-rotate(-30deg) brightness(74%) saturate(50%) contrast(100%) sepia(10%);
}

.antique19 {
  transition: all 0.8s;
  filter: hue-rotate(-90deg) brightness(90%) saturate(60%) contrast(120%) sepia(0%);
}

.antique20 {
  transition: all 0.8s;
  filter: hue-rotate(-90deg) brightness(80%) saturate(60%) contrast(120%) sepia(0%);
}

.antique21 {
  transition: all 0.8s;
  filter: hue-rotate(-70deg) brightness(60%) saturate(90%) contrast(110%) sepia(0%);
}

.antique22 {
  transition: all 0.8s;
  filter: hue-rotate(-70deg) brightness(90%) saturate(200%) contrast(100%) sepia(20%);
}

.antique23 {
  transition: all 0.8s;
  filter: hue-rotate(-110deg) brightness(50%) saturate(50%) contrast(100%) sepia(0%);
}

.antique24 {
  transition: all 0.8s;
  filter: hue-rotate(-60deg) brightness(100%) saturate(30%) contrast(120%) sepia(0%);
}

/* SINGLETON ===================================================== */
.singleton1 {
  transition: all 0.8s;
  filter: hue-rotate(-150deg) brightness(63%) saturate(50%) contrast(116%) sepia(40%);
}

.singleton2 {
  transition: all 0.8s;
  filter: hue-rotate(-150deg) brightness(63%) saturate(50%) contrast(116%) sepia(40%);
}

.singleton3 {
  transition: all 0.8s;
  filter: hue-rotate(-10deg) brightness(66%) saturate(50%) contrast(110%) sepia(40%);
}

.singleton4 {
  transition: all 0.8s;
  filter: hue-rotate(-10deg) brightness(75%) saturate(110%) contrast(110%) sepia(0%);
}

.singleton5 {
  transition: all 0.8s;
  filter: hue-rotate(20deg) brightness(105%) saturate(136%) contrast(110%) sepia(30%);
}

.singleton6 {
  transition: all 0.8s;
  filter: hue-rotate(20deg) brightness(85%) saturate(230%) contrast(120%) sepia(70%);
}

.singleton7 {
  transition: all 0.8s;
  filter: hue-rotate(20deg) brightness(83%) saturate(140%) contrast(120%) sepia(40%);
}

.singleton8 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%) sepia(0%);
}

.singleton9 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%) sepia(0%);
}

.singleton10 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(110%) saturate(120%) contrast(80%) sepia(30%);
}

.singleton11 {
  transition: all 0.8s;
  filter: hue-rotate(20deg) brightness(110%) saturate(100%) contrast(110%) sepia(60%);
}

.singleton12 {
  transition: all 0.8s;
  filter: hue-rotate(-10deg) brightness(120%) saturate(110%) contrast(80%) sepia(0%);
}

.singleton13 {
  transition: all 0.8s;
  filter: hue-rotate(20deg) brightness(92%) saturate(166%) contrast(94%) sepia(75%);
}

.singleton14 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(90%) saturate(40%) contrast(130%) sepia(0%);
}

.singleton15 {
  transition: all 0.8s;
  filter: hue-rotate(-150deg) brightness(66%) saturate(100%) contrast(110%) sepia(0%);
}

.singleton16 {
  transition: all 0.8s;
  filter: hue-rotate(-190deg) brightness(110%) saturate(60%) contrast(90%) sepia(0%);
}

.singleton17 {
  transition: all 0.8s;
  filter: hue-rotate(110deg) brightness(66%) saturate(100%) contrast(110%) sepia(40%);
}

.singleton18 {
  transition: all 0.8s;
  filter: hue-rotate(60deg) brightness(90%) saturate(110%) contrast(130%) sepia(0%);
}

/* MARBLE ===================================================== */
.marble1 {
  transition: all 0.8s;
  filter: hue-rotate(-60deg) brightness(80%) saturate(80%) contrast(100%) sepia(0%);
}

.marble2 {
  transition: all 0.8s;
  filter: hue-rotate(-20deg) brightness(150%) saturate(160%) contrast(20%) sepia(60%);
}

.marble3 {
  transition: all 0.8s;
  filter: hue-rotate(-30deg) brightness(105%) saturate(260%) contrast(55%) sepia(60%);
}

.marble4 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(40%) contrast(110%) sepia(0%);
}

.marble5 {
  transition: all 0.8s;
  filter: hue-rotate(-50deg) brightness(115%) saturate(200%) contrast(65%) sepia(50%);
}

.marble6 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%) sepia(0%);
}

.marble7 {
  transition: all 0.8s;
  filter: hue-rotate(-40deg) brightness(100%) saturate(100%) contrast(90%) sepia(0%);
}

.marble8 {
  transition: all 0.8s;
  filter: hue-rotate(-50deg) brightness(80%) saturate(90%) contrast(100%) sepia(0%);
}

.marble9 {
  transition: all 0.8s;
  filter: hue-rotate(-216deg) brightness(107%) saturate(114%) contrast(90%) sepia(0%);
}

.marble10 {
  transition: all 0.8s;
  filter: hue-rotate(-60deg) brightness(85%) saturate(144%) contrast(120%) sepia(0%);
}

.marble11 {
  transition: all 0.8s;
  filter: hue-rotate(-60deg) brightness(50%) saturate(10%) contrast(120%) sepia(0%);
}

.marble12 {
  transition: all 0.8s;
  filter: hue-rotate(-30deg) brightness(126%) saturate(180%) contrast(90%) sepia(30%);
}

.marble13 {
  transition: all 0.8s;
  filter: hue-rotate(-60deg) brightness(77%) saturate(144%) contrast(130%) sepia(0%);
}

.marble14 {
  transition: all 0.8s;
  filter: hue-rotate(-60deg) brightness(60%) saturate(50%) contrast(110%) sepia(0%);
}

.marble15 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%) sepia(0%);
}

.marble16 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(120%) saturate(30%) contrast(60%) sepia(30%);
}

.marble17 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%) sepia(0%);
}

.marble18 {
  transition: all 0.8s;
  filter: hue-rotate(-30deg) brightness(110%) saturate(160%) contrast(100%) sepia(50%);
}

.marble19 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%) sepia(0%);
}

.marble20 {
  transition: all 0.8s;
  filter: hue-rotate(-30deg) brightness(130%) saturate(80%) contrast(50%) sepia(60%);
}

/* KLINKER ===================================================== */
.klinker1 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(110%) saturate(50%) contrast(90%) sepia(0%);
}

.klinker2 {
  transition: all 0.8s;
  filter: hue-rotate(30deg) brightness(110%) saturate(120%) contrast(80%) sepia(60%);
}

.klinker3 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(160%) saturate(0%) contrast(70%) sepia(20%);
}

.klinker4 {
  transition: all 0.8s;
  filter: hue-rotate(20deg) brightness(100%) saturate(170%) contrast(90%) sepia(50%);
}

.klinker5 {
  transition: all 0.8s;
  filter: hue-rotate(30deg) brightness(110%) saturate(130%) contrast(100%) sepia(60%);
}

.klinker6 {
  transition: all 0.8s;
  filter: hue-rotate(30deg) brightness(90%) saturate(170%) contrast(90%) sepia(50%);
}

.klinker7 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(90%) sepia(0%);
}

.klinker8 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(110%) saturate(100%) contrast(100%) sepia(0%);
}

.klinker9 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(110%) contrast(100%) sepia(0%);
}

.klinker10 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(80%) saturate(110%) contrast(120%) sepia(0%);
}

.klinker11 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(60%) saturate(110%) contrast(110%) sepia(10%);
}

.klinker12 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(160%) saturate(20%) contrast(70%) sepia(30%);
}

.klinker13 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(50%) saturate(20%) contrast(100%) sepia(0%);
}

.klinker14 {
  transition: all 0.8s;
  filter: hue-rotate(30deg) brightness(90%) saturate(140%) contrast(80%) sepia(40%);
}

.klinker15 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(124%) sepia(30%);
}

.klinker16 {
  transition: all 0.8s;
  filter: hue-rotate(-10deg) brightness(73%) saturate(100%) contrast(120%) sepia(0%);
}

.klinker17 {
  transition: all 0.8s;
  filter: hue-rotate(5deg) brightness(110%) saturate(110%) contrast(90%) sepia(0%);
}

.klinker18 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(80%) saturate(0%) contrast(120%) sepia(0%);
}

.klinker19 {
  transition: all 0.8s;
  filter: hue-rotate(-10deg) brightness(70%) saturate(90%) contrast(120%) sepia(0%);
}

.klinker20 {
  transition: all 0.8s;
  filter: hue-rotate(10deg) brightness(50%) saturate(100%) contrast(120%) sepia(0%);
}

.klinker21 {
  transition: all 0.8s;
  filter: hue-rotate(10deg) brightness(50%) saturate(110%) contrast(120%) sepia(0%);
}

.klinker22 {
  transition: all 0.8s;
  filter: hue-rotate(10deg) brightness(100%) saturate(100%) contrast(100%) sepia(10%);
}

.klinker23 {
  transition: all 0.8s;
  filter: hue-rotate(0deg) brightness(70%) saturate(90%) contrast(130%) sepia(0%);
}

.klinker24 {
  transition: all 0.8s;
  filter: hue-rotate(-10deg) brightness(80%) saturate(90%) contrast(120%) sepia(0%);
}
