/* Mobile ============================================================================ */

.house {
  position: relative;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 430 / 300;
  box-shadow: 0 0 10px black;
  line-height: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.base,
.wall,
.angles,
.corner,
.front {
  z-index: 10;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wall {
  z-index: 20;
}

.angles {
  z-index: 30;
}

.corner {
  z-index: 40;
}

.front {
  z-index: 50;
}

/* TABLET =================================================================== */

@media (min-width: 768px) {
  .house {
    max-width: 950px;
  }
}

@media (min-width: 1024px) {
  .house {
    height: 500px;
  }
}

@media (min-width: 1280px) {
  .house {
    height: auto;
  }
}

/* pc =================================================================== */

@media (min-width: 1660px) {
  .house {
    max-width: 1200px;
  }
}